USE [master]
GO
/****** Object:  Database [User1212]    Script Date: 18.10.2024 18:30:13 ******/
CREATE DATABASE [User1212]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User1212', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\User1212.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User1212_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\User1212_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User1212].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User1212]
GO
/****** Object:  Table [dbo].[ActivityMain]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityMain](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdEventName] [int] NOT NULL,
	[IdWinner] [int] NOT NULL,
	[DateStart] [date] NOT NULL,
	[CountOfDay] [int] NOT NULL,
 CONSTRAINT [PK_ActivityMain] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityName]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityName](
	[id] [int] NOT NULL,
	[NameActivity] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ActivityName] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityTimeRate]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTimeRate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdActivityMain] [int] NOT NULL,
	[IdActivityName] [int] NOT NULL,
	[IdModer] [int] NOT NULL,
	[IdJury1] [int] NOT NULL,
	[IdJury2] [int] NULL,
	[IdJury3] [int] NULL,
	[IdJury4] [int] NULL,
	[IdJury5] [int] NULL,
	[TimeStart] [time](7) NOT NULL,
	[NumOfDay] [int] NOT NULL,
 CONSTRAINT [PK_ActivityTimeRate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] NOT NULL,
	[NameCity] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] NOT NULL,
	[NameCountry] [nvarchar](50) NOT NULL,
	[EngNameCountry] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[NumCode] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[id] [int] NOT NULL,
	[NameDirection] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [int] NOT NULL,
	[IdEventName] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[IdCity] [int] NOT NULL,
	[EventImage] [nvarchar](50) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventName]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventName](
	[id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EventName] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEvent]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEvent](
	[id] [int] NOT NULL,
	[event] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserEvent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGender]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGender](
	[id] [int] NOT NULL,
	[pol] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserGender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.10.2024 18:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] NOT NULL,
	[Familiy] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Otchestvo] [nvarchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
	[IdPol] [int] NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[BirthdayDate] [date] NOT NULL,
	[IdCountry] [int] NULL,
	[NumberPhone] [nvarchar](50) NOT NULL,
	[IdDirection] [int] NULL,
	[IdUserEvent] [int] NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhotoName] [nvarchar](50) NULL,
	[UserPhoto] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityMain] ON 

INSERT [dbo].[ActivityMain] ([id], [IdEventName], [IdWinner], [DateStart], [CountOfDay]) VALUES (1, 1, 7, CAST(N'2022-03-23' AS Date), 2)
INSERT [dbo].[ActivityMain] ([id], [IdEventName], [IdWinner], [DateStart], [CountOfDay]) VALUES (2, 2, 59, CAST(N'2022-03-30' AS Date), 2)
INSERT [dbo].[ActivityMain] ([id], [IdEventName], [IdWinner], [DateStart], [CountOfDay]) VALUES (3, 9, 38, CAST(N'2022-04-29' AS Date), 3)
SET IDENTITY_INSERT [dbo].[ActivityMain] OFF
GO
INSERT [dbo].[ActivityName] ([id], [NameActivity]) VALUES (1, N'Must Have 21 века')
INSERT [dbo].[ActivityName] ([id], [NameActivity]) VALUES (2, N'Soft skills')
INSERT [dbo].[ActivityName] ([id], [NameActivity]) VALUES (3, N'Авторские анонсы')
GO
SET IDENTITY_INSERT [dbo].[ActivityTimeRate] ON 

INSERT [dbo].[ActivityTimeRate] ([id], [IdActivityMain], [IdActivityName], [IdModer], [IdJury1], [IdJury2], [IdJury3], [IdJury4], [IdJury5], [TimeStart], [NumOfDay]) VALUES (1, 1, 27, 54, 11, 52, 10, 41, 11, CAST(N'09:00:00' AS Time), 1)
INSERT [dbo].[ActivityTimeRate] ([id], [IdActivityMain], [IdActivityName], [IdModer], [IdJury1], [IdJury2], [IdJury3], [IdJury4], [IdJury5], [TimeStart], [NumOfDay]) VALUES (2, 1, 4, 42, 37, 41, 26, 34, 37, CAST(N'10:45:00' AS Time), 2)
INSERT [dbo].[ActivityTimeRate] ([id], [IdActivityMain], [IdActivityName], [IdModer], [IdJury1], [IdJury2], [IdJury3], [IdJury4], [IdJury5], [TimeStart], [NumOfDay]) VALUES (3, 1, 26, 1, 28, 34, 45, 10, 28, CAST(N'12:30:00' AS Time), 2)
SET IDENTITY_INSERT [dbo].[ActivityTimeRate] OFF
GO
INSERT [dbo].[City] ([id], [NameCity]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([id], [NameCity]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([id], [NameCity]) VALUES (3, N'Абдулино')
GO
INSERT [dbo].[Country] ([id], [NameCountry], [EngNameCountry], [Code], [NumCode]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([id], [NameCountry], [EngNameCountry], [Code], [NumCode]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([id], [NameCountry], [EngNameCountry], [Code], [NumCode]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
INSERT [dbo].[Direction] ([id], [NameDirection]) VALUES (1, N'Аналитика')
INSERT [dbo].[Direction] ([id], [NameDirection]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Direction] ([id], [NameDirection]) VALUES (3, N'Дизайн')
GO
INSERT [dbo].[Event] ([id], [IdEventName], [Date], [Days], [IdCity], [EventImage]) VALUES (1, 1, CAST(N'2022-03-23' AS Date), 2, 1, NULL)
INSERT [dbo].[Event] ([id], [IdEventName], [Date], [Days], [IdCity], [EventImage]) VALUES (2, 2, CAST(N'2022-03-30' AS Date), 2, 3, NULL)
INSERT [dbo].[Event] ([id], [IdEventName], [Date], [Days], [IdCity], [EventImage]) VALUES (3, 3, CAST(N'2022-02-28' AS Date), 3, 4, NULL)
GO
INSERT [dbo].[EventName] ([id], [Name]) VALUES (1, N'Анализ предметных областей и проектирование сценариев использования ')
INSERT [dbo].[EventName] ([id], [Name]) VALUES (2, N'Анализ предметных областей и проектирование сценариев использования. Часть 1 ')
INSERT [dbo].[EventName] ([id], [Name]) VALUES (3, N'Андрей Ершов — CRDT. Бесконфликтная синхронизация данных ')
GO
INSERT [dbo].[UserEvent] ([id], [event]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[UserEvent] ([id], [event]) VALUES (2, N'IT-инфраструктура')
INSERT [dbo].[UserEvent] ([id], [event]) VALUES (3, N'Информационная безопасность')
GO
INSERT [dbo].[UserGender] ([id], [pol]) VALUES (1, N'женский')
INSERT [dbo].[UserGender] ([id], [pol]) VALUES (2, N'мужской')
GO
INSERT [dbo].[UserRole] ([id], [role]) VALUES (1, N'Жюри')
INSERT [dbo].[UserRole] ([id], [role]) VALUES (2, N'Модератор')
INSERT [dbo].[UserRole] ([id], [role]) VALUES (3, N'Организатор')
GO
INSERT [dbo].[Users] ([id], [Familiy], [Name], [Otchestvo], [IdRole], [IdPol], [Mail], [BirthdayDate], [IdCountry], [NumberPhone], [IdDirection], [IdUserEvent], [Password], [PhotoName], [UserPhoto]) VALUES (1, N'Абрамов', N'Александр', N'Алексеевич', 2, 2, N'fboehm@gmail.com', CAST(N'1988-02-26' AS Date), 64, N'+7(821) - 995-78-97', 4, NULL, N'5BIgu5', N'foto11.jpg', NULL)
INSERT [dbo].[Users] ([id], [Familiy], [Name], [Otchestvo], [IdRole], [IdPol], [Mail], [BirthdayDate], [IdCountry], [NumberPhone], [IdDirection], [IdUserEvent], [Password], [PhotoName], [UserPhoto]) VALUES (2, N'Абрамова', N'Алиса', N'Леонидовна', 2, 2, N'abigayle.daugherty@bartoletti.com', CAST(N'1983-01-21' AS Date), 45, N'+7(421) - 662-87-42', 4, NULL, N'br@ILZ', N'foto12.jpg', NULL)
INSERT [dbo].[Users] ([id], [Familiy], [Name], [Otchestvo], [IdRole], [IdPol], [Mail], [BirthdayDate], [IdCountry], [NumberPhone], [IdDirection], [IdUserEvent], [Password], [PhotoName], [UserPhoto]) VALUES (3, N'Антонов', N'Леонид', N'Степанович', 2, 2, N'zking@effertz.org', CAST(N'1981-03-22' AS Date), 21, N'+7(873) - 779-08-49', 2, NULL, N'7qb*6x', N'foto13.jpg', NULL)
GO
ALTER TABLE [dbo].[ActivityMain]  WITH CHECK ADD  CONSTRAINT [FK_ActivityMain_EventName] FOREIGN KEY([IdEventName])
REFERENCES [dbo].[EventName] ([id])
GO
ALTER TABLE [dbo].[ActivityMain] CHECK CONSTRAINT [FK_ActivityMain_EventName]
GO
ALTER TABLE [dbo].[ActivityMain]  WITH CHECK ADD  CONSTRAINT [FK_ActivityMain_Users] FOREIGN KEY([IdWinner])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityMain] CHECK CONSTRAINT [FK_ActivityMain_Users]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_ActivityMain] FOREIGN KEY([IdActivityMain])
REFERENCES [dbo].[ActivityMain] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_ActivityMain]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_ActivityName] FOREIGN KEY([IdActivityName])
REFERENCES [dbo].[ActivityName] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_ActivityName]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_Users] FOREIGN KEY([IdModer])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_Users]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_Users1] FOREIGN KEY([IdJury1])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_Users1]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_Users2] FOREIGN KEY([IdJury2])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_Users2]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_Users3] FOREIGN KEY([IdJury3])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_Users3]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_Users4] FOREIGN KEY([IdJury4])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_Users4]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_Users5] FOREIGN KEY([IdJury5])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_Users5]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventName] FOREIGN KEY([IdEventName])
REFERENCES [dbo].[EventName] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventName]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Country] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Country]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Direction] FOREIGN KEY([IdDirection])
REFERENCES [dbo].[Direction] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Direction]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserEvent] FOREIGN KEY([IdUserEvent])
REFERENCES [dbo].[UserEvent] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserEvent]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserGender] FOREIGN KEY([IdPol])
REFERENCES [dbo].[UserGender] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserGender]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[UserRole] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRole]
GO
USE [master]
GO
